html{
	position: relative;
}

body{
	margin-bottom: 100px;
	margin-top: 30px;
}

.navbar a:hover{
	background-color: lightblue;
	color: white;
}

.navbar a{
	color: #aaa;
}

.togglerbutton{
	background-color: #aaa;
}

.jumbotron img{
	width: 200px;
	border: 5px solid #666;
	box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.jumbotron{
	height: 400px;
	background-image: url(../img/background.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #eaeaea;
	overflow: hidden;
}

.jumbotron h1, .jumbotron p{
	text-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

hr{
	width: 250px;
	border-top: 3px solid #999;
	margin: 10px auto;
}

.portfolio hr{
	margin-bottom: -5px;
}

.portfolio a{
	background: transparent;
	border: transparent;
}

.about p{
	text-align: justify;
}

section{
	min-height: 800px;
}

.pKiri , .pKanan{
	opacity: 0;
	transform: translate(-50px, 0) rotate(15deg);
	transition: 1s;
}

.pKanan{
	transform: translate(50px, 0) rotate(-15deg);
}

.pKiri.pMuncul, .pKanan.pMuncul{
	opacity: 1;
	transform: translate(0,0);
}

.portfolio{
	background-color: #eee;
}

.portfolio .thumbnail{
	opacity: 1;
	transform: translate(0, -40px);
	transition: 0.5s;
}

.portfolio .thumbnail .muncul{
	opacity: 1;
	transform: translate(0,0);
}

.form{
	float: left;
	clear: both;
}

h2{
	margin-top: 20px;
}

.portfolio img{
	margin-top: 20px;
	margin-bottom: 50px;
}

.contact{
	min-height: 800px;
}

.contact label{
	font-weight: bold;
	text-shadow: 1px 1px 1px lightgray;
}

button{
	margin-top: 5px;
}

footer{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 120px;
	background-color: #333;
}

footer p{
	color: #aaa;
	font-size: 0.9em;
	margin-top: 25px;
}




